<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Linux/UNIX Users Group at Michigan Tech">
    <meta name="author" content="lug-l@mtu.edu">
    <link rel="shortcut icon" href="/static/favicon.ico">
    <title>{{ meta['title'] }}</title>
    <link href="/static/bootstrap.css" rel="stylesheet">
    <link href="/static/navbar.css" rel="stylesheet">
    <link href="/static/code.css" rel="stylesheet">
  </head>
  <body>
    <div class="container">
		<div class="lugtop">
    <strong>Linux/UNIX Users Group at Michigan Tech</strong>
    <div class="pull-right">
        <img src="/static/mtu.png" alt="MTU LUG Logo">
        <img src="/static/tux-simple.png" width="70" alt="Simple Linux Tux">
    </div>
</div>

<div class="navbar navbar-default">
        <ul class="nav navbar-nav">
            <li><a href="/">Home</a></li>
            <li><a href="/minutes">Minutes</a></li>
            <li><a href="/constitution.html">Constitution</a></li>
            <li><a href="https://mirrors.lug.mtu.edu">Mirrors</a></li>
	    <li><a href="https://shell.lug.mtu.edu/wiki/">Wiki</a></li>
            <li><a href="/archive">Archive</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li><a href="irc://lug.mtu.edu:6667/#mtu">IRC #mtu</a></li>
            <li><a href="https://groups.google.com/a/mtu.edu/forum/#!forum/lug-l">Email List</a></li>
            <li><a href="mailto:lug-server-admins-l@mtu.edu">Contact</a></li>
        </ul>
</div>
	<div class="well">
{{ content }}
    </div>
</div>
</body>
</html>
